body {
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*navbar*/
.navbar {
  position: fixed;
  display: flex;
  background-color: #0d253f;
  right: 0;
  left: 0;
  z-index: 2;
  height: 4em;
  justify-content: space-between;
  margin-bottom: 0;
  font-weight: bold;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 6em;
  width: 8em;
  margin-left: 20px;
}

.navbar h1 {
  color: #f9f9f9;
  margin-left: 20px;
}

.navbar-search {
  margin-top: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-button {
  background-color: transparent;
  color: #808080;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 20px;
  align-items: center;
}


.header input {
  display: flex;
  border: 1px solid #bbbbbba6;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  color: #808080;
}

.header input:focus {
  outline: none;
}

/*navbar menu*/
.menu {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: 20px;
}

.menu li {
  position: relative;
}

.menu li a {
  color: #f9f9f9;
  margin-left: 1.5em;
  text-decoration: none;
  transition: color 0.2s ease;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background: #f9f9f9f9;
  color: #3e3b3b;
  line-height: 30px;
  font-size: small;
  border-radius: 5px;
  padding: 0.5em 2em;
  padding-right: 5em;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.submenu li:hover {
  cursor: pointer;
}

.menu li:hover .submenu {
  display: block;
}

.menu li a:hover {
  color: #808080;
  cursor: pointer;
}

/*navbar-right*/
.navbar-right {
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 20px;
  color: #f9f9f9;
}

.navbar-right a {
  color: #f9f9f9;
  margin-left: 1.5em;
  text-decoration: none;
}

.navbar-right img {
  width: 2em;
}

.navbar-right a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-right button {
  background-color: transparent;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-right button:hover {
  background-color: #f9f9f9;
  color: #00006d;
}

/* header-part2*/
.pic-search {
  display: flex;
  flex-direction: column;
  background-color: #808080;
  height: 15rem;
  padding: 12rem 3rem;
  color: #f9f9f9;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom,
      rgba(7, 2, 54, 0.3),
      rgba(7, 2, 54, 0.5),
      rgba(7, 2, 54, 0.7)),
    url('/src/img/picForHeader.jpg');
}

.pic-search h1 {
  margin-bottom: 4rem;
}

.search-box input {
  width: 100%;
  height: 3em;
  border-radius: 20px;
  font-size: 1em;
  
  outline: none;
  border: none;
}
.search-box ::placeholder {
  padding: 1em 1em;
  color: #3e3b3bbb;
}

.search-box {
  position: relative;
  display: flex;
}

.pic-search button {
  border-radius: 25px;
  width: 7em;
  height: 3.1em;
  position: absolute;
  right: -1em;
  color: #f9f9f9;
  background-color: rgb(0, 157, 157);
  border: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.pic-search button:hover {
  color: #00006d;
  cursor: pointer;
}

/*Slider bettwen*/
.Trending{
  font-size: 1.5rem;
  color: #00006d;
  margin-right: 1em;
}
.slider-between {
  margin-top: 4rem;
  margin-left: 2em;
  display: flex;
  align-items: center;
}

.sliderBetween-buttons {
  font-size: 14px;
  text-align: center;
  height: 2em;
  width: 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #00006d 1px solid;
  border-radius: 1em;
}

.sliderBetween-buttons h3:hover {
  cursor: pointer;
}

.Today,
.This-week {
  padding: 0.3em 2em;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #00006d;
  transition: all .2s ease;
}

/* حالت فعال */
.active {
  color: #f9f9f9;
  background-color: #00006d;
}


/*Slider1*/
.slider {
  position: relative;
  height: 25em;
  width: 250px;
  color: #000000;
  margin-left: 1em;
  margin-bottom: 2em;
}

.slider img {
  width: 100%;
  height: 20em;
  border-radius: 1em;
  position: cover;
}

.slider p {
  position: absolute;
  bottom: 40px;
  left: 20px;
  border: 1px solid #00006d;
  padding: 1em 1em;
  background-color: #00006dec;
  color: #f9f9f9;
  border-radius: 50%;
  font-weight: bold;
}

.slider h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.slider h4 {
  margin-top: 5px;
  color: #808080;
}
/*slider2*/
/*between2*/
.beetwen-container2{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54%;
  
}
.beetwen-container2 h2{
  color: #f9f9f9;
}
.tab-wrapper {
  width: 31em;
  height: 2em;
  display: flex;
  align-items: center;
  border: 1px solid #00006d;
  text-align: center;
  border-radius: 30px;
}
.swiper-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab-btn {
  border: none;
  color: #00006d;
  font-weight: bold;
  border-radius: 52px;
  transition: background 0.3s ease, color 0.3s ease;
  padding: .5em 0;
  color: #f9f9f9;
}

.tab-btn.active {
  background:#0b0b2c;
  color: #f9f9f9;
}

.tab-wrapper li:hover{
  cursor: pointer;
}

.slider-title {
  margin-left: 1em;
  color: #00006d;
  
}


/*slider2*/
.slider-swiper{
  width: 95%;
  height: 15em;
}
.slider2 {
  width: 100px;
}
.slider2 img {
  width: 100%;
  height: 11em;
  object-fit: cover;
  border-radius: 1em;
}

.slider2 h3 {
  font-size: 1em;
  color: #f9f9f9e5;
  display: flex;
  text-align: center;
  justify-content: center;
}


/* footer*/
.footer{
  margin-top: 4em;
  display: flex;
  gap: 50px;
  bottom: 0;
  height: 14rem;
  right: 0;
  background-image: linear-gradient(to right, #0d253f, #193857) ;
  padding: 5rem 10rem;
  color: #f9f9f9;
}

.footer div{
  width: 14rem;
  line-height: 30px;
}

.footer .logo{
  width: 22rem;
}